@page
@using Domain
@model WebApp.Pages.Game.Winner

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Someone Won!!</title>
</head>
<body>
<div>
    <h1>@GetWinnerName() is the winner!</h1>
</div>
</body>
</html>
@functions
{

    string GetWinnerName()
    {
        if (Model.Winning_move)
        {
            return Model.P1name;
        }
        else
        {
            return Model.P2name;
        }
    }

}